header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    /*not concerning flex:*/
    padding-top: 2rem;
    padding-bottom: 3rem;
}
/* ====== Each box of the Header.jsx (there are 3): ====== */
header > div:nth-child(1) { /*Menu*/
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.4rem;
    row-gap: 0.4rem;
    flex: 1;
    padding-left: 4rem;
    padding-right: 1.2rem;
    color: #e5e510;
}
header > div:nth-child(1) > a {
    display: inline;
    font-size: 1.2rem;
    font-weight: 500;
    /*link concerning*/
    text-decoration: none;
    color: inherit;
}
header > div:nth-child(1) > a:hover {
    text-decoration: underline;
}
header > div:nth-child(2) { /*Logo*/
    font-size: 1.9rem;
    text-align: center;
    flex: 2;
    white-space: nowrap;
}
.guipedrov {
    font-size: 1.3rem;
}
header > div:nth-child(3) { /*Languages*/
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    flex: 1;
}
header > div:nth-child(3) > div {
    padding-left: 2rem;
}
header > div:nth-child(3) > div:nth-child(1) {
    border: 1px solid #405025;
    background: #405025;
    color: #FBFCFF;
}
header > div:nth-child(3) > div:nth-child(2) {
    border: 1px solid #30292F;
    background: #30292F;
    color: #FBFCFF;
}

/* ====== Screen: ====== */
@media screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        padding: 1rem 1rem 2rem 1rem;
    }
    header > div:nth-child(1) {
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
        margin: 0 auto;
    }
    header > div:nth-child(2) {
        text-align: center;
        flex: 1;
        font-size: 5vw;
        white-space: nowrap;
    }
    header > div:nth-child(2) > div:nth-child(1) {
        text-align: center;
        flex: 1;
        font-size: 8vw;
        white-space: nowrap;
    }
    header > div:nth-child(3) {
        justify-content: center;
        padding: 0.5rem 1rem 1rem 1rem;
        margin: 0 auto;
    }
}