.singlework {
    display: block;
    background: #FFFFFF;
    color: #30292F;
    border-radius: 10px;
    box-shadow: 2px 2px #054A29;
    min-width: 13rem;
    max-width: 20rem;
    max-height: fit-content;
}
.singlework > div:nth-child(2) > div:nth-child(2):hover { /*Name*/
    color: #453e44;
    text-decoration: underline;
}
.singlework:hover {
    z-index: 1;
    position: static;
    background: #FFFFFF;
    color: #30292F;
    border-radius: 10px;
    border: 0px solid #FDCA40;
    box-shadow: 3px 3px #FDCA40, 0px 0px 32px 0px #054a291c;
    /*max-width: 20.095rem;*/
}
.tooltip.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
.tooltip:hover .tooltiptext {
    visibility: visible;
}
